/* For Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: dark gray lightgray;
}

/* For WebKit (Chrome, Safari) */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgray;
}

body::-webkit-scrollbar-track {
  background-color: lightgray;
}
